@font-face {
    font-family: 'made_tommyblack';
    src: url(../font/made_tommy_black.woff) format('woff');
}



@font-face {
    font-family: 'made_tommyextrabold';
    src: url(../font/made_tommy_extrabold.woff) format('woff');
}



@font-face {
    font-family: 'made_tommybold';
    src: url(../font/made_tommy_bold.woff) format('woff');
}



@font-face {
    font-family: 'made_tommymedium';
    src: url(../font/made_tommy_medium.woff) format('woff');
}



@font-face {
    font-family: 'made_tommyregular';
    src: url(../font/made_tommy_regular.woff) format('woff');
}



@font-face {
    font-family: 'made_tommylight';
    src: url(../font/made_tommy_light.woff) format('woff');
}



@font-face {
    font-family: 'made_tommythin';
    src: url(../font/made_tommy_thin.woff) format('woff');
}



